.game-score-board {
    margin: 1em;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    height: min-content;
}

.score-left {
    display: grid;
    grid-template-columns: min-content auto;
    white-space: nowrap;
}

.score-right {
    display: grid;
    grid-template-columns: auto min-content;
    text-align: right;
    white-space: nowrap;
}

.score-data-left {
    display: grid;
    grid-template-columns: min-content auto;
}

.score-data-right {
    display: grid;
    grid-template-columns: auto min-content;
}

.score-value {
    text-align: center;
    padding-top: 4vh;
    font-size: 4em;
}

.middle {
    text-align: center;
    white-space: nowrap;
}

.img-container {
    padding: 1vw;
    height: 10em;
}

img {
    height: 100%;
}

.less-margin {
    margin: 1vw;
}