<mat-card class="game-score-board">
    <div class="score-left">
        <img class="right-img" src="assets/imgOak.jpeg">
        <div>
            <h2>{{ homeName }}</h2>
            <h4>Fouls</h4>
            <h3>{{ fouls[0] }}</h3>
        </div>
        <h1 class="score-value">{{ score[0] }}</h1>
    </div>
    <div class="period" *ngIf="this.period && this.period <= 4">
        <h3>Period {{ period }}</h3>
    </div>
    <div class="period" *ngIf="this.period > 4">
        <h2>This game has ended.</h2>
    </div>
    <div class="score-right">
        <h1 class="score-value">{{ score[1] }}</h1>
        <div>
            <h2>{{ guestName }}</h2>
            <h4>Fouls</h4>
            <h3>{{fouls[1]}}</h3>
        </div>
        <img class="left-img" src="assets/berniker.jpg">
    </div>
</mat-card>