.centerMessage{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.gameList{
    margin: 1em;
    background-color: rgb(145, 245, 161);
    align-content: center;
}

ul{
    list-style-type: none;
}

.gameList li{
    font-size: 10;
    margin-bottom: 1em;
    margin-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left:1em;
    background-color: rgb(255,255,255);
}

.gameList li:hover{
    cursor: pointer;
}