<!-- <div class = "row">-->
    <div class="column">
        <div class = "container">
            <h1>Roster</h1>
            <mat-tab-group dynamicHeight mat-stretch-tabs class="teams">
                <mat-tab label = "Team 1"> 
                    <ul class="playerList">
                        <li>Player 1</li>
                        <li>Player 2</li>
                        <li>Player 3</li>
                        <li>Player 4</li>
                        <li>Player 5</li>
                    </ul>
                </mat-tab>  
                <mat-tab label = "Team 2">
                    <ul class="playerList">
                        <li>Player 1</li>
                        <li>Player 2</li>
                        <li>Player 3</li>
                        <li>Player 4</li>
                        <li>Player 5</li>
                    </ul>
                </mat-tab> 
        </mat-tab-group>
        </div>
    </div>
<!-- </div> -->
