.column{
   float: left;
   height: 20%;
   padding: 0 8px;
   width: 100%;
}

.h1{
    font-style:arial;
}

.container{
    padding: 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(227, 255, 221);
}