<div class="column">
    <div class="container" style='min-height: min-content'>
        <h1>Roster</h1>
        <mat-tab-group dynamicHeight mat-stretch-tabs>
            <mat-tab label="Team 1">
                <ul class="playerList">
                    <div *ngIf="home">
                        <li *ngFor="let player of home.players">{{ player.number }} {{ player.name }}</li>
                    </div>
                </ul>
            </mat-tab>
            <mat-tab label="Team 2">
                <!-- <ul class="playerList">
                    <div *ngIf="guest">
                    <li *ngFor="let player of guest.players">{{ player.number }} {{ player.name }}</li>
                </div>
                </ul> -->
            </mat-tab>
        </mat-tab-group>
    </div>
</div>