.column{
   float: left;
   width: 100%;
   padding: 0 8px
}

.container{
    padding: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(227, 255, 221);
}

ul{
    list-style-type: none;
}

.playerList li {
    font-size: 10;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
}