.column{
   float: left;
   width: 100%;
   margin-left: 1em;
}

.container{
    padding: 2em;
    background-color: rgb(227, 255, 221);
}

ul{
    list-style-type: none;
}

::ng-deep .mat-tab-header-pagination {
    display: none !important;
}

.playerList li {
    font-size: 10;
    margin-bottom: 1em;
}

.playerList{
    margin-top: 1em;
}