<div class="mat-elevation-z4">
    <h3>Create a New Game</h3>
    <mat-form-field class="gameDatepicker">
        <input matInput [matDatepicker]="gameDatepicker" placeholder="Choose a date" [(ngModel)]="dateSelect">
        <mat-datepicker-toggle matSuffix [for]="gameDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #gameDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Time</mat-label>
        <input matInput type="time" [(ngModel)]="timeSelect">
    </mat-form-field>
    <br>
    <mat-form-field class="gameDatepicker">
        <mat-select placeholder="Choose home team" (selectionChange)="filterTeams()" [(ngModel)]="homeTeamSelect">
            <mat-option [value]="-1">
                <b>New Team</b>
            </mat-option>
            <mat-option *ngFor="let team of homeTeams" [value]="team.id">
                {{ team.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Choose guest team" (selectionChange)="filterTeams()" [(ngModel)]="guestTeamSelect">
            <mat-option [value]="-1">
                <b>New Team</b>
            </mat-option>
            <mat-option *ngFor="let team of guestTeams" [value]="team.id">
                {{ team.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="createGame()">Create</button>
</div>