<div class="gamedisp" *ngIf="game != undefined; else noGame">
    <div class="scoreboard">
        <app-game-score-board></app-game-score-board>
    </div>
    <div class="grid-container">
        <div class="grid-roster">
            <app-roster></app-roster>
        </div>
        <div class="grid-center">
            <div class="grid-gamecast">
                <img class="right-img" src="assets/court.png">

            </div>
            <div class="grid-events">
                <app-event-console></app-event-console>
            </div>
        </div>
        <div class="grid-chat"><app-chat-box></app-chat-box></div>
    </div>
</div>
<ng-template #noGame>
    <h1>Please select a game first</h1>
</ng-template>