.grid-container {
    display: grid;
    grid-template-columns: minmax(min-content, 30%) minmax(min-content, 40%) minmax(min-content, 30%);
    gap: 20px;
    margin-right: 20px;
    height: min-content;
}


.grid-roster {
    grid-column: 1;
}

.grid-center {
    display: grid;
    grid-template-rows: auto auto;
    grid-column: 2;
    gap: 0px;
}

.grid-gamecast {
    grid-row: 1;
    margin-top: 0;
}

.grid-gamecast img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 100%;
    margin-top: 0;
    object-fit: contain;
}

.grid-events {
    grid-row: 2;
}

.grid-chat {
    grid-column: 3;
}
