.grid-container {
    display: grid;
    grid-template-columns: minmax(min-content, 30%) minmax(min-content, 40%) minmax(min-content, 30%);
    gap: 20px;
}


.grid-roster {
    grid-column: 1;
}

.grid-center {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-column: 2;
    gap: 0px;
}

.grid-display {
    grid-row: 1;   
    background-color: blue;
}

.grid-gamecast {
    grid-row: 2;
}

.grid-events {
    grid-row: 3;
}

.grid-chat {
    grid-column: 3;
    background-color: green;
}

.courtimage {
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}